body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.pricing-table {
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.plan:hover{
    transform:scale(1.25);
    border-color: rgb(20, 20, 20);
    box-shadow: 10px 5px 20px rgb(190, 26, 187) ;
}
.plan {
    background-color: #fff;
    border: 1px solid #0a0a0a;
    border-radius: 30px;
    padding: 40px;
    width: 200px;
    text-align: center;
    
    transition: transform 2s ease , border-color 1s ease;

}



.plan h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.price {
    font-size: 22px;
    color: green;
    margin-bottom: 20px;
}

.plan ul {
    list-style: none;
    margin-bottom: 20px;
}

.plan ul li {
    margin: 10px 0;
}

.btn {
    text-decoration: none;
    background-color: #ff6b6b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff3b3b;
}


  